:root{
    --monGrisFonce: #95a5a6;
    --monGrisClair: #bdc3c7;
    /* --couleurDefontDesTitle: #3498db; */
    --couleurDefontDesTitle:rgb(13, 110, 253);
    /* --bs-white-rgb: 255, 255, 255; */
}

* {
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
}

.site{
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid #ced4da; */
}

.header-topbar{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.identite{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.cadreImage{
    order: 2;
    width: 100%;
}

.civilite{
    width: 100%;
    order: 1;
}

.contact, .langageInfo-content, .langues-content{
    width: 100%;
}

.contact svg{
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.nomPrenom, 
.titreCv, 
.contact-title, 
.aboutMe-title, 
.aboutMe-description,
.langageInfo-title,
.references-title{
    width: 100%;
}


.nomPrenom, 
.titreCv {
    padding: 0.3em 0;
    font-weight: bold;
    color: white;
    text-align: center;
}

.nomPrenom{
    font-size: 20px;
    background: var(--monGrisFonce);
}

.titreCv{
    font-size: 18px;
    padding: 0.5em;
    background: var(--monGrisClair);
}

.photoId{
    width: 100%;
    margin: 5px 0;
    border: 1px solid var(--couleurDefontDesTitle);
    border-radius: 50%;

}

.sidebar-competences{
    display: flex;
    flex-wrap: wrap;
}

.contact-info li,
.sidebar-competences li{
    /* margin: 5px 0; */
    padding: 5px 10px;
}
.contact-info svg{
    content: "";
    display: inline-block;
    width: 30px;
    height: 25px;
    margin: 0 5px 0 0;
}

/* Les li qui contiennent les svg */
.contact-content li{
    font-size: 18px;
    display: flex;
    align-items: center; 
    border-bottom: 1px solid #ccc;   
    padding-bottom: 8px;

}

.contact-title, 
.aboutMe-title, 
.langageInfo-title,
.compentenceCle-title,
.softSkills-title,
.langues-title,
.experience-title,
.formation-title,
.hobbies-title,
.references-title{
    width: 100%;
    color: white;
    font-size: 1.3rem;
    font-weight: 900;
    background-color: #3498db; /*Pour IE ancienne version*/
    background-color: var(--couleurDefontDesTitle);
    text-align: center;
    padding: 0.3em;
    margin-bottom: 15px;
}

.references-title{
    border-style: double;
}

.aboutMe-description,
.langageInfo-content,
.competencesCle-content,
.softSkill-content,
.langues-content,
.experiences,
.formation,
.hobbies,
.references{
    font-size: 20px;
}

.hobbies-title{
    margin-top: 15px;
}

.hobbies ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.hobbies ul li{
    width: 40%;
    margin: 0 5px;
}



/* .hobbies-content li::marker{
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
} */

.aboutMe-description{
    padding: 0 7px;
    text-align: justify;
}
.periode{
    background-color: var(--monGrisFonce);
    /* color: #fff; */
    text-align: center;
    font-weight: bold;
}

.lblPoste, .lbldiplome{
    color: var(--couleurDefontDesTitle);
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
}

.descriptDiplome{
    padding: 0 10px;
    text-align: justify;
}

/*PROGRESS BAR*/

.progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
  }
  
  .progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #0d6efd;
    transition: width 0.6s ease;
  }

  /* .bg-white {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;
  } */

@media (min-width: 300px) and (max-width: 400px) {
    .localisation svg{
        margin-right: 15px;
    }
}

@media (min-width: 400px) and (max-width: 500px) {
    .localisation svg{
        margin-right: 10px;
    }
}

@media (min-width: 700px) {
   
    .identite{
        display: flex;
        align-items: center;
        background-color: #ced4da;
    }

    .header-topbar{
        background-color: aliceblue;
    }
    
    .cadreImage{
        display: flex;
        justify-content: center;
        flex: 1 0px;
    }

    .identite img{
        width: 235px;
        height: 200px;

    }
    
    .civilite{
        width: 75%;
        order: 2;
        height: 100%;
        flex: 2 0px;
    }

    .nomPrenom, .titreCv{
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .titreCv{
        letter-spacing: 5px;
    }

    .contact{
        flex: 1 0px;
    }

    .aboutMe{
        flex: 2 0px;
        border-left: 1px solid #ced4da;
        font-size: 20px;
    }

    .sidebar-competences{
        flex: 1 0px;
        color: white;
        font-size: 20px;
        /* background-color: #bdc3c7; */
        background-color: #95a5a6;
        background-color: var(--monGrisFonce);
    }

    .sidebar-droit{
        flex: 2 0px;
        background-color: aliceblue;
        border-left: 1px solid #ced4da;
    }

    .langageInfo-content{
        width: 100%;
    }

    .sidebar-competences li{
        /* margin: 20px 0; */
        padding-top: 30px;
    }

    .sidebar-competences ul li:first-child{
        padding-top: 0;
    }

    .sidebar-competences li::marker{
        color: black;
    }

    .sidebar-droit{
        font-size: 20px;
    }

    .experiences .periode,
    .formation .periode{
        flex: 1 0px;
        background-color: var(--monGrisClair);
        margin: 0 10px;
        
    }

    .experiences .lblexperience,
    .formation .lblformation{
        flex: 3 0px;
        border-left: 1px solid blue;
    }

    .experiences .sectionExperience, .formation .sectionExperience{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .lblPoste, .lbldiplome{
        color: blue;
        color: var(--couleurDefontDesTitle);
        font-weight: bold;
        text-align: left;
        padding-left: 10px;
        padding-top: 0;/*Defait l'autre(Mobile) */
    }

    .hobbies, .formation{
        margin-top: 30px;
    }

    .formation-title{
        margin-bottom: 30px;
    }

    .hobbies ul{
        display: flex;
        justify-content: space-around;
    }

    .references a{
        text-decoration: none;
    }

    .references a:hover{
        text-decoration: underline;
    }
}
