:root{
    --monGrisFonce: #95a5a6;
    --monGrisClair: #bdc3c7;
    --couleurDefontDesTitle: #3498db;
}

* {
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
}

.site{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid #ced4da; */
}

.header-topbar{
    display: flex;
    flex-wrap: wrap;
}

.identite{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.cadreImage{
    order: 2;
    width: 100%;
}

.civilite{
    width: 100%;
    order: 1;
}

.contact{
    width: 100%;
}
.contact svg{
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.nomPrenom, 
.titreCv, 
.contact-title, 
.aboutMe-title, 
.aboutMe-description
.langageInfo-title{
    width: 100%;
}


.nomPrenom, 
.titreCv {
    padding: 0.3em 0;
    font-weight: bold;
    color: white;
    text-align: center;
}

.nomPrenom{
    font-size: 20px;
    background: var(--monGrisFonce);
}

.titreCv{
    font-size: 18px;
    padding: 0.5em;
    background: var(--monGrisClair);
}

.photoId{
    width: 100%;
    margin: 5px 0;
    border: 1px solid var(--couleurDefontDesTitle);
    border-radius: 50%;

}
.contact-info ul,
.langageInfo-content{
    list-style-type: none;
    padding: 10px 20px;
}

.contact-info li{
    margin: 5px 0;
}
.contact-info svg{
    content: "";
    display: inline-block;
    width: 30px;
    height: 25px;
    margin: 0 5px 0 0;
}

/* Les li qui contiennent les svg */
.contact-content li{
    font-size: 18px;
    display: flex;
    align-items: center; 
    border-bottom: 1px solid #ccc;   
    padding-bottom: 8px;

}

.contact-title, 
.aboutMe-title, 
.langageInfo-title,
.compentenceCle-title,
.softSkills-title,
.langues-title,
.experience-title,
.formation-title,
.hobbies-title{
    width: 100%;
    color: white;
    font-size: 1rem;
    font-weight: 900;
    background-color: #3498db; /*Pour IE ancienne version*/
    background-color: var(--couleurDefontDesTitle);
    text-align: center;
    padding: 0.3em;
    margin-bottom: 15px;
}

.hobbies-title{
    margin-top: 10px;
}



.aboutMe-description{
    padding: 0 7px;
    text-align: justify;
}
.periode{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.lblPoste, .lbldiplome{
    font-weight: bold;
    text-align: center;
}

.descriptDiplome{
    padding: 0 10px;
    text-align: justify;
}

@media (min-width: 300px) and (max-width: 400px) {
    .localisation svg{
        margin-right: 15px;
    }
}

@media (min-width: 400px) and (max-width: 500px) {
    .localisation svg{
        margin-right: 10px;
    }
}

@media (min-width: 500px) {
   
    .identite{
        display: flex;
        align-items: center;
        background-color: #ced4da;
    }
    
    .cadreImage{
        display: flex;
        justify-content: center;
        flex: 1 0px;
    }

    .identite img{
        width: 235px;
        height: 200px;

    }
    
    .civilite{
        width: 75%;
        order: 2;
        height: 100%;
        flex: 2 0px;
    }

    .nomPrenom, .titreCv{
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contact{
        flex: 1 0px;
    }

    .aboutMe{
        flex: 2 0px;
        border-left: 1px solid #ced4da;
        font-size: 20px;
    }

}
